apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-poc-mutu
  labels:
    pipelinesascode.tekton.dev/on-event: pull_request
    pipelinesascode.tekton.dev/on-target-branch: devteam
    repo_name: springboot-poc-mutu
    app: springboot-poc-mutu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot-poc-mutu
  template:
    metadata:
      labels:
        app: springboot-poc-mutu
    spec:
      containers:
        - name: springboot-poc-mutu
          image: image-registry.openshift-image-registry.svc.cluster.local:5000/devteam/springboot-poc-mutu:307964279cde50f5d4bd405b385debe0c72de1e4
          imagePullPolicy: IfNotPresent
          ports:
            - name: api
              containerPort: 8082
          readinessProbe:
            httpGet:
              path: /demo/actuator/health/readiness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 15
          livenessProbe:
            httpGet:
              path: /demo/actuator/health/liveness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 15
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          envFrom:
            - configMapRef:
                name: springboot-poc-mutu
          resources:
            requests:
              memory: 1024Mi
          volumeMounts:
            - name: springboot-poc-mutu-config-volume
              readOnly: true
              mountPath: "/opt/jp/config/application_config_override.yaml"
              subPath: application_config_override.yaml
            - name: springboot-poc-mutu-secret-config-volume
              readOnly: true
              mountPath: "/opt/jp/config/application_secret_override.yaml"
              subPath: application_secret_override.yaml
      # imagePullSecrets:
      #   - name: dockerhub-image-pull-secret
      volumes:
        - name: springboot-poc-mutu-secret-config-volume
          secret:
            secretName: springboot-poc-mutu
        - name: springboot-poc-mutu-config-volume
          configMap:
            name: springboot-poc-mutu
            items:
              - key: application_config_override.yaml
                path: application_config_override.yaml
